[Unit]
Description=PosturePro Fall Detection System
After=network.target

[Service]
ExecStart=/home/pi/posturepro/venv/bin/python /home/pi/posturepro/main.py
WorkingDirectory=/home/pi/posturepro
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
